// General
//region general
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

$primary: #CA502A;
$grey: #BDBDBD;
$texgrey: #868686;

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

img{
  width:100%
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: hsl(234, 100%, 81%);
  color: hsl(234, 58%, 17%);
}

a{
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body{
  display: flex;
}

main{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1350px) {
  main{
    width: 100%;
  }
}

//endregion

// Buttons
//region buttons
button{
  cursor: pointer;
  padding: .5rem 1rem;
  font-weight: bold;
  border-radius: .5rem;
  transition: all .2s ease;
  font-size: 1.1rem;
  margin-inline: 1rem;

  &.filled{
    background-color: $primary;
    color: white;
    border: none;
    &:hover{
      filter: brightness(110%);
    }
  }

  &.outlined{
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
    &:hover{
      filter: brightness(90%);
    }
  }
}

div.calcButtons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15vh;
  width: 60%;
  margin-inline: auto;
}

@media screen and (max-width: 1350px) {
  button{
    padding: .5rem .5rem;
    margin-inline: .5rem;
  }
}
@media screen and (max-width: 950px) {
  div.calcButtons{
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  div.calcButtons{
    button{
      margin-block: .5rem;
      width: 30vw;
    }

    div{
      display: flex;
      flex-direction: column;
    }

    flex-direction: column;
    align-items: center;
  }
}
//endregion

//Sections
//region sections
section:not(.active){
  display: none;
}
main > section{
  height: 100%;
  width: 100%;
}
//endregion

// Aside
//region aside
aside{
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 20vw;
  height: 100vh;
  background: url("../img/sand.jpg");
}

@media screen and (max-width: 1600px) {
  aside {
    color: transparent;
  }
}
@media screen and (max-width: 1350px) {
  aside {
    display: none;
  }
}
//endregion

// Navigation
//region navigation
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 5.5vh;
  background-color: #EDEDED;

  i{
    color: #757575;
    cursor: pointer;
    font-size: 1.5rem;
    padding-inline: 2rem;
  }

  .fa-info{
    border: 2px solid $grey;
    border-radius: 50%;
    padding: .5rem 1rem;
    margin-right: 1rem;
  }

  .buttons{
    display: flex;
    height: 100%;
    align-items: end;

    p{
      font-weight: 700;
      border: 2px solid $grey;
      background-color: #E7E7E7;
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;
      cursor: pointer;
      padding: .5rem 5rem;
      transition: all .2s ease;

      &.active{
        background-color: #FBFBFB;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  nav{
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  nav {
    display: none;
  }
}

//endregion

// Section
//region section
main section.normal{
  height: 100%;
  width: 100%;

  > div{
    display: flex;
    justify-content: center;
  }
}

section.box{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-block: 7vw;

  &:not(.active){
    display: none;
  }

  border: 2px solid #CCCCCC;
  background-color: #FAFAFA;
  border-radius: 1rem;
  padding: 5rem;

  > div{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
}

section.box div.leftSide{
  margin-top: 1.5rem;
  border-right: 2px solid $primary;
}

section.box div.leftSide div.switch{
  display: flex;
  margin-top: 2rem;

  p{
    margin-right: 1rem;
    background-color: #EDEDED;
    color: #868686;
    padding: .2rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s all ease;
    font-weight: 500;

    &:hover{
      background-color: #CBCBCB;
      color: #404040;
    }

    &.active{
      background-color: #CBCBCB;
      color: #404040;
    }
  }
}

section.box div.rightSide{
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(2, 1fr);

  h1{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  h1, h2{
    font-size: 1.4rem;
    color: $texgrey;
    font-weight: 500;
  }
  p{
    padding-block: .5rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
}

.itnField{
  display: flex;
  width: 15vw;
  background-color: #EDEDED;
  color: $grey;
  border-radius: .5rem;
  margin: .2rem;

  input, select{
    font-size: 1.2rem;
    background: transparent;
    outline: none;
    border: none;
    padding: .5rem;
    width: 100%;
  }

  select{
    width: 60%;
    font-size: 1rem;
    margin-right: .2rem;
  }
}

@media screen and (max-width: 900px) {
  section.box{
    margin-top: 5rem;
    padding: 1rem;
  }

  section.box div.leftSide div.switch{
    flex-direction: column;

    p{
      margin-block: .2rem;
    }
  }

  section.box div.rightSide{
    grid-template-columns: .8fr 1fr;
    p{
      font-size: 1.1rem;
    }
  }

  .itnField{
    input, select{
      font-size: .8rem;
    }
  }
}

@media screen and (max-width: 600px) {
  section.box{
    border: none;
    background-color: #FAFAFA;
    border-radius: 1rem;
    padding: 0;

    > div{
      padding: 2rem 1rem;
    }
  }
}
//endregion

// Meisterschaft
//region meisterschaft
section.meisterschaft{
  text-align: center;

  .header{
    display: flex;
    margin-top: 2vh;
    margin-bottom: 1vh;
    justify-content: center;

    input{
      margin-inline: 1vw;
      width: 3vw;
      text-align: center;
      border: none;
      border-bottom: 1px solid $texgrey;
    }
  }

  button{
    margin-top: 2vh;
    width: 10vw;
  }
}
section.meisterschaft .box{
  border: 2px solid #CCCCCC;
  margin-inline: auto;
  padding: 1rem;
  width: 50%;

  div{
    display: flex;
    justify-content: space-evenly;
  }

  .doublePair{
    display: block;
  }
}
//endregion

// Turnier
//region turnier
section.turnier{

}

.tournamentDraw{
  display: flex;

  > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
//endregion