// General
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

$primary: #CA502A;
$grey: #BDBDBD;
$texgrey: #868686;

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

img{
  width:100%
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: hsl(234, 100%, 81%);
  color: hsl(234, 58%, 17%);
}

a{
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body{
  display: flex;
}

main{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

// Aside
aside{
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 20vw;
  height: 100vh;
  background: url("../img/sand.jpg");
}


// Navigation
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 5.5vh;
  background-color: #EDEDED;

  i{
    color: #757575;
    cursor: pointer;
    font-size: 1.5rem;
    padding-inline: 2rem;
  }

  .fa-info{
    border: 2px solid $grey;
    border-radius: 50%;
    padding: .5rem 1rem;
    margin-right: 1rem;
  }

  .buttons{
    display: flex;
    height: 100%;
    align-items: end;

    p{
      font-weight: 700;
      border: 2px solid $grey;
      background-color: #E7E7E7;
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;
      cursor: pointer;
      padding: .5rem 5rem;
      transition: all .2s ease;

      &.active{
        background-color: #FBFBFB;
      }
    }
  }
}

// Section
main > div{
  width: 100%;
  display: flex;
  justify-content: center;
}

section{
  display: flex;
  flex-direction: row;

  &:not(.active){
    display: none;
  }

  border: 2px solid #CCCCCC;
  background-color: #FAFAFA;
  border-radius: 1rem;
  padding: 5rem;
}

section > div{
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

div.rightSide{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h1{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  h1, h2{
    font-size: 1.4rem;
    color: $texgrey;
    font-weight: 500;
  }
  p{
    padding-block: .3rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
}

div.leftSide div.switch{
  background-color: transparent;

  p{
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: #EDEDED;
    color: #868686;
    padding: .2rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s all ease;
    font-weight: 500;

    &:hover{
      background-color: #CBCBCB;
      color: #404040;
    }

    &.active{
      background-color: #CBCBCB;
      color: #404040;
    }
  }
}

div.leftSide{
  margin-top: 1.5rem;
  border-right: 2px solid $primary;

  div{
    display: flex;
    width: 15vw;
    background-color: #EDEDED;
    color: $grey;
    border-radius: .5rem;
    margin: .2rem;
  }

  input, select{
    background: transparent;
    outline: none;
    border: none;
    padding: .5rem;
    width: 100%;
  }
}

button{
  cursor: pointer;
  padding: .5rem 1rem;
  font-weight: bold;
  border-radius: .5rem;
  transition: all .2s ease;
  font-size: 1.2rem;

  &.filled{
    background-color: $primary;
    color: white;
    border: none;
    &:hover{
      filter: brightness(110%);
    }
  }

  &.outlined{
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
    &:hover{
      filter: brightness(90%);
    }
  }
}

div.calcButtons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15vh;
  width: 60%;
  margin-inline: auto;
}


// Responsive
@media screen and (max-width: 800px) {
  aside {
    display: none;
  }

  section{
    padding: 0;
  }

  div.calcButtons{
    width: 100%;
  }

  button{
    width: 100%;
  }

  div.leftSide{
    div{
      width: 100%;
    }

    div.switch{
      flex-direction: column;
    }
  }
}