// General
//region general
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

$primary: #CA502A;
$gray100: hsla(0, 0%, 100%, 1);
$gray200: hsla(0, 0%, 90%, 1);
$gray300: hsla(0, 0%, 80%, 1);
$gray400: hsla(0, 0%, 70%, 1);
$gray500: hsla(0, 0%, 60%, 1);
$gray600: hsla(0, 0%, 50%, 1);
$gray700: hsla(0, 0%, 40%, 1);
$gray800: hsla(0, 0%, 30%, 1);
$gray900: hsla(0, 0%, 20%, 1);
$gray1000: hsla(0, 0%, 10%, 1);
$gray1100: hsla(0, 0%, 0%, 1);

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

img{
  width:100%
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: hsl(234, 100%, 81%);
  color: hsl(234, 58%, 17%);
}

a{
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body{
  display: flex;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1350px) {
  main{
    width: 100%;
  }
}
//endregion

// Buttons
//region buttons
button{
  cursor: pointer;
  padding: .5rem 1rem;
  font-weight: bold;
  border-radius: .5rem;
  transition: all .2s ease;
  font-size: 1.1rem;
  margin-inline: 1rem;

  &.filled{
    background-color: $primary;
    color: white;
    border: none;
    &:hover{
      filter: brightness(110%);
    }
  }

  &.outlined{
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
    &:hover{
      filter: brightness(95%);
    }
  }
}

main section.normal div.calcButtons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15vh;
  width: 60%;
  margin-inline: auto;
}

@media screen and (max-width: 1350px) {
  button{
    padding: .5rem .5rem;
    margin-inline: .5rem;
  }
}
@media screen and (max-width: 1000px) {
  main section.normal div.calcButtons{
    width: 100%;
    div{
      display: flex;
      justify-content: space-between;
    }
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--gray100, #FFF);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.10);

    button{
      flex-grow: 1;
    }
  }
}
//endregion

//Sections
//region sections
section:not(.active){
  display: none;
}
//endregion

// Aside
//region aside
aside{
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  width: 20vw;
  background: url(" img/sand.jpg");
}

@media screen and (max-width: 1600px) {
  aside {
    color: transparent;
  }
}
@media screen and (max-width: 1350px) {
  aside {
    display: none;
  }
}
//endregion

// Navigation
//region navigation
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $gray200;

  i{
    color: $gray800;
    cursor: pointer;
    font-size: 1.5rem;
    padding-inline: 2rem;
  }

  .fa-info{
    border: 2px solid $gray800;
    border-radius: 50%;
    padding: .5rem 1rem;
    margin-right: 1rem;
  }

  .buttons{
    display: flex;
    align-items: end;

    p{
      font-weight: 700;
      border: 1px solid $gray500;
      background-color: transparent;
      cursor: pointer;
      padding: .5rem 5rem;
      transition: all .2s ease;

      &.active{
        background-color: $gray100;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  nav{
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  nav {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .buttons {
      width: 100%;

      p{
        text-align: center;
        flex-grow: 1;
        font-weight: 600;
        border: none;
        border-right: 1px solid $gray200;
        border-left: 1px solid $gray200;
        border-radius: 0;
        cursor: pointer;
        padding: 0.5rem 2rem;

        &.active{
          background-color: $primary;
          color: $gray100;
        }
      }
    }

    i{
      display: none !important;
    }
  }
}

//endregion

// Section
//region section
main section.normal > div{
  display: flex;
  justify-content: center;
}

section.box{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-block: 7vw;

  &:not(.active){
    display: none;
  }

  border: 2px solid $gray500;
  background-color: $gray100;
  border-radius: 1rem;
  padding: 5rem;

  > div{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
}

div.leftSide{
  margin-top: 1.5rem;
  border-right: 2px solid $primary;
}

div.switch{
  display: flex;
  margin-top: 2rem;

  p{
    margin-right: 1rem;
    background-color: $gray200;
    color: $gray800;
    padding: .2rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s all ease;
    font-weight: 500;

    &:hover{
      background-color: $gray300;
    }

    &.active{
      background-color: $gray700;
      color: $gray100;
    }
  }
}

section.box div.rightSide{
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(2, 1fr);

  h1{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  h1, h2{
    font-size: 1.4rem;
    color: $gray500;
    font-weight: 500;
  }
  p{
    padding-block: .5rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
}

.itnField{
  display: flex;
  width: 15vw;
  color: $gray200;
  border: 1px solid $gray500;
  border-radius: .5rem;
  margin: .2rem;

  input, select{
    font-size: 1rem;
    background: transparent;
    outline: none;
    border: none;
    padding: .5rem;
    width: 100%;
  }

  select{
    width: 60%;
    font-size: 1rem;
    margin-right: .2rem;
  }
}

@media screen and (max-width: 1000px) {
  main section.normal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.box{
    border: none;
    flex-direction: column;
    align-items: center;
    margin: 0;

    .itnField{
      width: 90%;
      padding: .2rem;
      flex-direction: row;
    }
  }
}
//endregion

// Meisterschaft
//region meisterschaft
section.meisterschaft{
  text-align: center;

  .header{
    display: flex;
    margin-top: 2vh;
    margin-bottom: 1vh;
    justify-content: center;

    input{
      margin-inline: 1vw;
      width: 3vw;
      text-align: center;
      border: none;
      border-bottom: 1px solid $gray200;
    }
  }

  button{
    margin-top: 2vh;
    width: 10vw;
  }
}
section.meisterschaft .box{
  border: 2px solid #CCCCCC;
  margin-inline: auto;
  padding: 1rem;
  width: 50%;

  div{
    display: flex;
    justify-content: space-evenly;
  }

  .doublePair{
    display: block;
  }
}
//endregion

// Turnier
//region turnier
section.turnier{

}

.tournamentDraw{
  display: flex;

  > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
//endregion